.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__list-item {
  padding: 25px 20px;
}

.catalog__more {
  padding-top: 82px;
}

.catalog__more-title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #111111;

  margin-bottom: 10px;
}

.catalog__more-text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  font-family: "Arial", sans-serif;

  margin-bottom: 22px;
}

.catalog__more-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 768px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__list-item {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1200px;
  }

  .catalog__list-item {
    width: 245px;
  }
}
