.choose-programm {
  color: #fff;
}
.choose-programm__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  margin-top: 0;
  margin-bottom: 20px;
}
.choose-programm__description {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.choose-programm__background {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-color: #65aa39;

  height: 305px;
  padding-top: 30px;
  box-sizing: border-box;
}

.choose-programm__image {
  display: block;

  margin: 0 auto;
  margin-top: -135px;
}
