@import "normalize.less";
@import "variables.less";
@import "visually-hidden.less";
@import "./blocks/button.less";
@import "./blocks/header.less";
@import "./blocks/choose-programm.less";
@import "./blocks/food-program.less";
@import "./blocks/explanation.less";
@import "./blocks/footer.less";
@import "./blocks/catalog-title.less";
@import "./blocks/catalog.less";
@import "./blocks/product.less";
@import "./blocks/hamburger-button.less";
@import "./blocks/social-buttons.less";
@import "./blocks/navigation.less";
@import "./blocks/live-example.less";
@import "./blocks/map.less";
@import "./blocks/info.less";
@import "./blocks/additional.less";
@import "./blocks/green-line.less";
@import "./blocks/form.less";

@font-face {
  font-family: "Oswald";
  font-weight: normal;
  src: url("../fonts/oswaldregular.woff") format("woff"),
    url("../fonts/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff") format("woff"),
    url("../fonts/oswaldmedium.woff2") format("woff2");
}

body {
  font-family: "Oswald", "Arial", sans-serif;
}
